<!DOCTYPE html>
<html>
<head>
    <title>Zoho Scraper - Select Links</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script>
        function buttonBlock() {
            const checkboxes = document.querySelectorAll('input[name="selected_links"]');
            const submitButton = document.getElementById("submit-button");
            const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
            submitButton.disabled = !anyChecked;
        }

        function selectAll() {
            const checkboxes = document.querySelectorAll('input[name="selected_links"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = true;
            });
            buttonBlock();
        }

        function unselectAll() {
            const checkboxes = document.querySelectorAll('input[name="selected_links"]');
            checkboxes.forEach(checkbox => {
                checkbox.checked = false;
            });
            buttonBlock();
        }

        function showLoading() {
            document.getElementById("submit-button").style.display = "none";
            document.getElementById("loading").style.display = "block";
            document.getElementById("get-results").disabled = false;
            {#document.getElementById("get-results").style.display = "block";#}
        }

        window.onload = function () {
            document.getElementById("submit-button").style.display = "inline-block";
            document.getElementById("loading").style.display = "none";
            document.getElementById("get-results").disabled = true;
            {#document.getElementById("get-results").style.display = "none";#}


            const checkboxes = document.querySelectorAll('input[name="selected_links"]');
            checkboxes.forEach(checkbox => checkbox.addEventListener('change', buttonBlock));
            buttonBlock();
        }
    </script>
</head>
<body>
<h1>Select Links to Scrape</h1>

<form method="POST" action="/continue_scrape" onsubmit="showLoading()">
    <input type="hidden" name="session_id" value="{{ session_id }}">
    <label>Select links to continue scraping:</label><br>
    <button type="button" id="select-all" onclick="selectAll()">Select All</button>
    <button type="button" id="unselect-all" onclick="unselectAll()">Unselect All</button>
    <ul>
        {% for link in links %}
            <li>
                <input type="checkbox" name="selected_links" value="{{ link }}"> {{ link }}
            </li>
        {% endfor %}
    </ul>
    <button type="submit" id="submit-button" disabled>Scraping</button>
    <button type="button" id="get-results" disabled
            onclick="window.location.href='/stop_and_get_results?session_id={{ session_id }}'">Stop and Get Results
    </button>
</form>

<p id="loading" style="display:none;">Parsing... Please, wait 🌀</p>

<a href="/">← Back</a>
</body>
</html>